
<div class="card">
    <div class="card-body">
        <form [formGroup]="machine_addForm" novalidate>

            
			<div class="form-group">
                <label class="col-md-4">identifiaction</label>
                <input type="text" class="form-control" formControlName="identifiaction" #identifiaction />
            </div>
            <div *ngIf="machine_addForm.controls['identifiaction'].invalid && (machine_addForm.controls['identifiaction'].dirty || machine_addForm.controls['identifiaction'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['identifiaction'].errors.required">
                    Please Enter the identifiaction
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">model</label>
                <input type="text" class="form-control" formControlName="model" #model />
            </div>
            <div *ngIf="machine_addForm.controls['model'].invalid && (machine_addForm.controls['model'].dirty || machine_addForm.controls['model'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['model'].errors.required">
                    Please Enter the model
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">brand</label>
                <input type="text" class="form-control" formControlName="brand" #brand />
            </div>
            <div *ngIf="machine_addForm.controls['brand'].invalid && (machine_addForm.controls['brand'].dirty || machine_addForm.controls['brand'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['brand'].errors.required">
                    Please Enter the brand
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">serial</label>
                <input type="text" class="form-control" formControlName="serial" #serial />
            </div>
            <div *ngIf="machine_addForm.controls['serial'].invalid && (machine_addForm.controls['serial'].dirty || machine_addForm.controls['serial'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['serial'].errors.required">
                    Please Enter the serial
                </div>
            </div>


          
            <div class="form-group">
                <button class="btn btn-primary" (click)="addMachine( identifiaction.value,model.value,brand.value,serial.value )" [disabled]="!machine_addForm.valid || machine_addForm.pristine">Add Machine</button>
            </div>
        </form>
    </div>
</div>

