
<div class="card">
    <div class="card-body">
        <form [formGroup]="machine_addForm" novalidate>

            
			<div class="form-group">
                <label class="col-md-4">modelo</label>
                <input type="text" class="form-control" formControlName="modelo" #modelo />
            </div>
            <div *ngIf="machine_addForm.controls['modelo'].invalid && (machine_addForm.controls['modelo'].dirty || machine_addForm.controls['modelo'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['modelo'].errors.required">
                    Please Enter the modelo
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">numero</label>
                <input type="text" class="form-control" formControlName="numero" #numero />
            </div>
            <div *ngIf="machine_addForm.controls['numero'].invalid && (machine_addForm.controls['numero'].dirty || machine_addForm.controls['numero'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['numero'].errors.required">
                    Please Enter the numero
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">detalle</label>
                <input type="text" class="form-control" formControlName="detalle" #detalle />
            </div>
            <div *ngIf="machine_addForm.controls['detalle'].invalid && (machine_addForm.controls['detalle'].dirty || machine_addForm.controls['detalle'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['detalle'].errors.required">
                    Please Enter the detalle
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">valor</label>
                <input type="text" class="form-control" formControlName="valor" #valor />
            </div>
            <div *ngIf="machine_addForm.controls['valor'].invalid && (machine_addForm.controls['valor'].dirty || machine_addForm.controls['valor'].touched)" class="alert alert-danger">
                <div *ngIf="machine_addForm.controls['valor'].errors.required">
                    Please Enter the valor
                </div>
            </div>


          
            <div class="form-group">
                <button class="btn btn-primary" (click)="addMachine( modelo.value,numero.value,detalle.value,valor.value )" [disabled]="!machine_addForm.valid || machine_addForm.pristine">Add Machine</button>
            </div>
        </form>
    </div>
</div>

