
<div class="card">
    <div class="card-body">
        <form [formGroup]="invoice_addForm" novalidate>

            
			<div class="form-group">
                <label class="col-md-4">numero</label>
                <input type="text" class="form-control" formControlName="numero" #numero />
            </div>
            <div *ngIf="invoice_addForm.controls['numero'].invalid && (invoice_addForm.controls['numero'].dirty || invoice_addForm.controls['numero'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['numero'].errors.required">
                    Please Enter the numero
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">detalle</label>
                <input type="text" class="form-control" formControlName="detalle" #detalle />
            </div>
            <div *ngIf="invoice_addForm.controls['detalle'].invalid && (invoice_addForm.controls['detalle'].dirty || invoice_addForm.controls['detalle'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['detalle'].errors.required">
                    Please Enter the detalle
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">valor</label>
                <input type="text" class="form-control" formControlName="valor" #valor />
            </div>
            <div *ngIf="invoice_addForm.controls['valor'].invalid && (invoice_addForm.controls['valor'].dirty || invoice_addForm.controls['valor'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['valor'].errors.required">
                    Please Enter the valor
                </div>
            </div>


          
            <div class="form-group">
                <button class="btn btn-primary" (click)="addInvoice( numero.value,detalle.value,valor.value )" [disabled]="!invoice_addForm.valid || invoice_addForm.pristine">Add Invoice</button>
            </div>
        </form>
    </div>
</div>

