
<div class="card">
    <div class="card-body">
        <form [formGroup]="invoice_editForm" novalidate>
			
			
			
			<div class="form-group">
                <label class="col-md-4">identification</label>
                <input type="text" class="form-control" formControlName="identification" #identification [(ngModel)]="invoice.identification" />
            </div>
            <div *ngIf="invoice_editForm.controls['identification'].invalid && (invoice_editForm.controls['identification'].dirty || invoice_editForm.controls['identification'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_editForm.controls['identification'].errors.required">
                    identification is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">details</label>
                <input type="text" class="form-control" formControlName="details" #details [(ngModel)]="invoice.details" />
            </div>
            <div *ngIf="invoice_editForm.controls['details'].invalid && (invoice_editForm.controls['details'].dirty || invoice_editForm.controls['details'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_editForm.controls['details'].errors.required">
                    details is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">value</label>
                <input type="text" class="form-control" formControlName="value" #value [(ngModel)]="invoice.value" />
            </div>
            <div *ngIf="invoice_editForm.controls['value'].invalid && (invoice_editForm.controls['value'].dirty || invoice_editForm.controls['value'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_editForm.controls['value'].errors.required">
                    value is required.
                </div>
            </div>



            <div class="form-group">
                <button type="button" (click)="updateInvoice(identification.value,details.value,value.value)" [disabled]="invoice_editForm.invalid"
                    class="btn btn-primary">Update Invoice</button>
            </div>
        </form>
    </div>
</div>



