
<div class="card">
    <div class="card-body">
        <form [formGroup]="machine_editForm" novalidate>
			
			
			
			<div class="form-group">
                <label class="col-md-4">modelo</label>
                <input type="text" class="form-control" formControlName="modelo" #modelo [(ngModel)]="Machine.modelo" />
            </div>
            <div *ngIf="machine_editForm.controls['modelo'].invalid && (machine_editForm.controls['modelo'].dirty || machine_editForm.controls['modelo'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['modelo'].errors.required">
                    modelo is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">numero</label>
                <input type="text" class="form-control" formControlName="numero" #numero [(ngModel)]="Machine.numero" />
            </div>
            <div *ngIf="machine_editForm.controls['numero'].invalid && (machine_editForm.controls['numero'].dirty || machine_editForm.controls['numero'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['numero'].errors.required">
                    numero is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">detalle</label>
                <input type="text" class="form-control" formControlName="detalle" #detalle [(ngModel)]="Machine.detalle" />
            </div>
            <div *ngIf="machine_editForm.controls['detalle'].invalid && (machine_editForm.controls['detalle'].dirty || machine_editForm.controls['detalle'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['detalle'].errors.required">
                    detalle is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">valor</label>
                <input type="text" class="form-control" formControlName="valor" #valor [(ngModel)]="Machine.valor" />
            </div>
            <div *ngIf="machine_editForm.controls['valor'].invalid && (machine_editForm.controls['valor'].dirty || machine_editForm.controls['valor'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['valor'].errors.required">
                    valor is required.
                </div>
            </div>



            <div class="form-group">
                <button type="button" (click)="updateMachine(modelo.value,numero.value,detalle.value,valor.value)" [disabled]="machine_editForm.invalid"
                    class="btn btn-primary">Update Machine</button>
            </div>
        </form>
    </div>
</div>



