
<div class="card">
    <div class="card-body">
        <form [formGroup]="machine_editForm" novalidate>
			
			
			
			<div class="form-group">
                <label class="col-md-4">identifiaction</label>
                <input type="text" class="form-control" formControlName="identifiaction" #identifiaction [(ngModel)]="machine.identifiaction" />
            </div>
            <div *ngIf="machine_editForm.controls['identifiaction'].invalid && (machine_editForm.controls['identifiaction'].dirty || machine_editForm.controls['identifiaction'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['identifiaction'].errors.required">
                    identifiaction is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">model</label>
                <input type="text" class="form-control" formControlName="model" #model [(ngModel)]="machine.model" />
            </div>
            <div *ngIf="machine_editForm.controls['model'].invalid && (machine_editForm.controls['model'].dirty || machine_editForm.controls['model'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['model'].errors.required">
                    model is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">brand</label>
                <input type="text" class="form-control" formControlName="brand" #brand [(ngModel)]="machine.brand" />
            </div>
            <div *ngIf="machine_editForm.controls['brand'].invalid && (machine_editForm.controls['brand'].dirty || machine_editForm.controls['brand'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['brand'].errors.required">
                    brand is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">serial</label>
                <input type="text" class="form-control" formControlName="serial" #serial [(ngModel)]="machine.serial" />
            </div>
            <div *ngIf="machine_editForm.controls['serial'].invalid && (machine_editForm.controls['serial'].dirty || machine_editForm.controls['serial'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['serial'].errors.required">
                    serial is required.
                </div>
            </div>



            <div class="form-group">
                <button type="button" (click)="updateMachine(identifiaction.value,model.value,brand.value,serial.value)" [disabled]="machine_editForm.invalid"
                    class="btn btn-primary">Update Machine</button>
            </div>
        </form>
    </div>
</div>



